name: Unit tests
on:
  push:
  workflow_dispatch:

jobs:
  container_job:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
      fail-fast: true
    container: ubuntu:latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.3"
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          apt update
          apt install --no-install-recommends --yes bash curl git gpg ca-certificates # needed by codecov below
          uv sync --link-mode=copy --dev  # editable install so coverage can be generated

      - name: Run Unit tests
        run: uv run pytest --cov-report term-missing --cov-report=xml --cov=src tests

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage.xml
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
