# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Linting tests

on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    name: Linting Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']
      fail-fast: true

    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.7"
          python-version: ${{ matrix.python-version }}

      - name: Install project
        run: |
          # export PIP_ROOT_USER_ACTION=ignore
          # pip install --no-cache-dir uv
          uv sync --link-mode=copy --dev

      - name: Check formatting
        run: |
          uv run isort -c src/supa tests
          uv run black --check src/supa tests

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          uv run flake8 src/supa tests

      - name: Check with mypy
        run: |
          # do not run mypy on both directories at the same time
          uv run mypy src/supa
          uv run mypy tests
