# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Linting tests

on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    name: Linting Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.14.0]

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          PIP_ROOT_USER_ACTION=ignore
          pip install --no-cache-dir uv
          uv sync --link-mode=copy --extra dev
      - name: Check formatting
        run: |
          uv run isort -c src/supa tests
          uv run black --check src/supa tests
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          uv run flake8 src/supa tests
      - name: Check with mypy
        run: |
          # do not run mypy on both directories at the same time
          uv run mypy src/supa
          uv run mypy tests
