name: Unit tests
on:
  push:
  workflow_dispatch:

jobs:
  container_job:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.14.0 ]
    container: python:${{ matrix.python-version }}-slim
    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          apt update
          apt install --no-install-recommends --yes bash curl git gpg  # needed by codecov below
          export PIP_ROOT_USER_ACTION=ignore
          pip install --no-cache-dir uv
          uv sync --link-mode=copy --extra dev  # editable install so coverage can be generated
      - name: Run Unit tests
        run: uv run pytest --cov-report term-missing --cov-report=xml --cov=src tests
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage.xml
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
